* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
  padding-top: 100px;
}

p {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  font-size: 3rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: cornflowerblue;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  opacity: 0.7;
}
#rock {
  background-color: #ff0000;
}
#paper {
  background-color: #2196f3;
}
#scissors {
  background-color: #4caf50;
}

#user-score {
  color: #2196f3;
}
#computer-score {
  color: #ff0000;
}
/* #refresh {
  background-color: #4caf50;
  color: antiquewhite;
  width: 100px;
  padding: 0.3rem;
  border-radius: 5px;
} */
